<div class="modal fade"
     id="dialog-details" tabindex="-1" role="dialog">
  <div class="modal-dialog" data-no-turbolink="true">
    <div class="modal-content">
      <div class="modal-body">
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->